<html>
<head>
<title>History</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" text="#CCCCCC">

<table width="70%" border="0">
  <tr> 
    <td valign="middle"> 
      <p>&nbsp;</p>
      <p><font face="Arial, Helvetica, sans-serif"><b><font size="5">A-Fep History</font></b></font></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td> 
      <p><font face="Arial, Helvetica, sans-serif" size="2">In April of 2000, 
        a society was formed that would forever revolutionize the meaning of the 
        words camaraderie, dedication, and loyalty. That May, seven men set out 
        to be the charter members of Alpha Fepsilon Chi.<br>
        <br>
        During that time at Texas A&amp;M, freshman leadership organizations continued 
        to expand and grow. New rules from the Memorial Student Center enlarged 
        some of the FLOs, while former members of others of them began to form 
        their own organizations. A situation was arising which began to threaten 
        the best freshman leadership organization ever known to mankind, Aggie 
        Fish Club. AFC continued to fulfill its purpose of developing freshmen 
        into leaders, while at the same time bringing them social bonds that were 
        beyond comprehension. From this situation, three leaders emerged from 
        this group that had the power to realize their purpose at this university.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2">Mike Butts '03, Matt 
        Giese '03, and Justin Bond '03, all freshmen in Aggie Fish Club at the 
        time, sensed that something must be done to forever ensure that AFC would 
        remain at its proper place as the most respected and recognized FLO on 
        campus. It was in an Introduction to Management class taught by Dr. Ben 
        Welch that the concept of Alpha Fepsilon Chi was born. But it was not 
        until that May that its formation would be realized.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2">Butts, Giese, and 
        Bond (known collectively as the War Triangle) became the founding charter 
        members of the A-Feps. They were accepted that May as counselors for the 
        class of 2004. On that revelation night, all of the male counselors began 
        to unite to form the Charter Class of Alpha Fepsilon Chi. It would be 
        represented by three Greek letters, one of which was unique only to them.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2"> A need had been realized, 
        and a dream had been fulfilled.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2">From this point on, 
        A-Feps have been charged with maintaining AFC's rightful place above all 
        other FLOs. Through actions of true leadership and loyalty, members of 
        Alpha Fepsilon Chi ensure through any actions necessary that the name 
        of AFC will be always paired with words such as respect, integrity, and 
        passion. </font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2">That fall, the A-Feps 
        created a sister society that would assist in keeping their vision. This 
        group was called Gamma Iroquois Rho Lambda Sigma (G.I.R.L.S.), or the 
        Iroquois for short. Let it be known that they mostly just run around with little 
        feathers on their heads making &quot;Bing!&quot; noises, but they do serve 
        a purpose. The Iroquois consist of the female counselors that have passed 
        through AFC since 2000-2001. The A-Feps, however, will always remain above 
        them in dedication and leadership (I mean, c'mon we created them) and 
        will never falter in their mission.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2"> So long as Aggie 
        Fish Club holds a place in the hearts of its members, members of Alpha Fepsilon Chi will fight for the respect that it deserves, holding its 
        mission and charge above any other.</font></p>
      <p><i><font face="Arial, Helvetica, sans-serif" size="2">SUPRA ALIQUIS ALIA</font></i></p>
      </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
