<html>
<head>
<title>Oath</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" text="#CCCCCC">

<table width="70%" border="0">
  <tr> 
    <td valign="middle"> 
      <p>&nbsp;</p>
      <p><font face="Arial, Helvetica, sans-serif"><b><font size="5">The Oath 
        of Alpha Fepsilon Chi<br>
        </font></b><font size="5"> <i><font size="3">created by the Beta Pledge 
        Class</font></i></font></font></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td> 
      <p align="center"><font face="Arial, Helvetica, sans-serif" size="2">We, 
        as the __________ Pledge Class of the A-Feps, pledge our life, limb, and 
        liberty to ensure that AFX remains a top secret ploy to unify the elite 
        counselors (those with penii) of AFC. We vow to uphold the respect, integrity, 
        and passion that our preceding members have forcefully inspired (the ones 
        with testicles). From this day forth, we swear on our gonads, that AFX 
        remains a highly confidential society that will fight for the respect 
        that AFC has now and ever shall hold. We understand that the future (and 
        our wee wees) are forever in our hands. In reference to the Iroquois (the 
        ones without scholngs, bitch?), we vow to keep a <i>firm</i> hand on our 
        lacking counterparts.</font></p>
      <p align="center"><font face="Arial, Helvetica, sans-serif" size="2">SUPRA 
        ALIQUIS ALIA</font><br>
        ABOVE ANY OTHER</p>
      </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
