<html>
<head>
<title>Rules</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" text="#CCCCCC">
<table width="85%" border="0">
  <tr> 
    <td valign="middle"> 
      <p>&nbsp;</p>
      <p><font face="Arial, Helvetica, sans-serif"><b><font size="5">Rules of 
        Alpha Fepsilon Chi</font></b></font></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td valign="middle">
      <table width="100%" border="0">
        <tr> 
          <td width="22%"><%= image_tag "heading-rule1.gif", :style => "width: 112px; height: 36px;" %></td>
          <td width="78%"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF">Never 
            talk about the A-Feps.</font></td>
        </tr>
        <tr> 
          <td width="22%"><%= image_tag "heading-rule2.gif", :style => "width: 112px; height: 36px;" %></td>
          <td width="78%"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF">Never 
            talk about the A-Feps.</font></td>
        </tr>
        <tr> 
          <td width="22%"><%= image_tag "heading-rule3.gif", :style => "width: 112px; height: 36px;" %></td>
          <td width="78%"><font face="Arial, Helvetica, sans-serif" color="#FFFFFF"><b>Never 
            talk about the A-Feps</b></font></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
