<html>
<head>
<title>Signals</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#000000" text="#CCCCCC">
<table width="65%" border="0">
  <tr> 
    <td valign="middle"> 
      <p>&nbsp;</p>
      <p><font face="Arial, Helvetica, sans-serif"><b><font size="5">Society Hand 
        Signal</font></b></font><br>
        <font face="Arial, Helvetica, sans-serif" size="3">The Trademark</font></p>
      <p>&nbsp;</p>
    </td>
  </tr>
  <tr> 
    <td valign="middle">
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">Just 
        as Alpha Fepsilon Chi prides itself on its secrecy, it places constant 
        reminders each day of the power and passion that is possesed within the 
        organization. The hand signal has a double-usage, as a stand-alone sign 
        and as a part of the society handshake. The sign is formed by making a 
        fist, extending the index and middle finger and then placing the thumb 
        behind the two extended fingers. Thus, when the sign is placed vertical, 
        it resembles an A, and when placed horizontal resembles an F. To the ordinary 
        person, this looks only like a &quot;2&quot; or &quot;peace sign&quot;. 
        But to the educated A-Fep it is a means of recognition and pride.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">The 
        Fep sign is also used in the recognized handshake, created by the Alpha 
        Class. One must first begin by a shaking hands in the traditional manner. 
        However, the front of the hand is then turned upward as the two fingers 
        turn into a Fep. The retraction of the shake results in a snap of the 
        thumb and the middle finger with the hand of the other member. Something 
        like this cannot be explained and after a while becomes completely natural. 
        In most any AFC picture that involves a member of Alpha Fepsilon Chi, 
        you may notice that the Fep is slipped gently and stealthily into the 
        picture.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC">The 
        secret handshake (not discussed and extremely difficult to detect) involves 
        the use of a surprising little weapon men like to call &quot;the shocker&quot;, 
        in reference to an unwanted pinky finger. To perform this shake, also 
        created by the Alpha Class, one uses their left hand. As they go in for 
        they shake they already have a shocker formed in their hand. When the 
        two hands meet, the downward angle relates for the two ring fingers to 
        be interlocked and totally undetected by any surrounding parties. Once 
        again, difficult to explain.</font></p>
      <p><font face="Arial, Helvetica, sans-serif" size="2" color="#CCCCCC"> By 
        these hand signals, each member and the world is constantly reminded of 
        the guiding powers of the society. </font></p>
      </td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
